/WebAuctionApp/nbproject/private/
/WebAuctionApp/build/
/WebAuctionApp/dist/
# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.class
*.properties
WebAuctionApp/nbproject/private/private.properties
